--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu

Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-Login
Flask-WTF
Flask-Limiter
Flask-Mail
python-dotenv
SQLAlchemy
PyPDF2
python-docx
python-pptx
openpyxl
pandas
beautifulsoup4
einops
lxml
numpy<2.0.0
torch==2.2.2+cpu
sentence-transformers==2.7.0
transformers==4.40.0
faiss-cpu
huggingface-hub
psycopg2-binary
limits
psutil
requests>=2.28
gunicorn
celery[redis]
filelock
redis
groq
psycopg2-binary
reportlab
markdown
